node_modules/

npm-debug.log*

node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env.local 
.DS_Store
.cache

.vscode/**/*.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

yarn-debug.log*
yarn-error.log*

/frontend/note-weaver/dist/
/frontend/note-weaver/build/
